---
//TODO:
//Add style
//[] Content
//[] Highlights
//[] Background
//[] Responsive
import type { Project } from '../types.d.ts'
import ProjectCard from './ProjectCard.astro'
import Button from './Button.astro'
import {PROJECTS} from '../mockups/projects'

const projects = PROJECTS
---

<section id="projects" class="h-screen w-full flex flex-col mb-8 p-5">

  <article class="justify-around mt-12 pb-6">
    <div class="relative">
      <h2 class="text-2xl desktop:text-5xl font-bold">
        Projects
        <span class="text-3xl text-primary desktop:text-5xl font-bold dark:text-accent">⁕</span>
      </h2>
    </div>
  </article>
  
  <div class="grid grid-rows-4 ">
    {
      projects.map(({title, date, techStack, desc}) => (
        <ProjectCard 
          title={title}
          date={date} 
          techStack={techStack} 
          desc={desc}
    />
      ))
    }
  </div>

  <div class="flex h-full after:absolute after:w-full after:border-t-[1px] after:border-black after:dark:border-white after:left-0">
    <div class="w-full flex justify-center items-center">
     <Button title='See all projects' style='secondary' />
    </div>
  </div>

</section>
